xref specification seems incomplete

I see a few problems:

* https://www.ietf.org/archive/id/draft-irse-draft-irse-xml2rfcv3-implemented-01.html#section-3.66.5-2.2 doesn't mention the use of "Appendix", which is what xml2rfc uses.
* There is not enough information about how relative and section might interact when they are both specified as attributes.
* Looking at code, apparently you are able to reference things other than sections, including paragraphs, comments, table (cells?), asides , blockquotes, and maybe more.  The use of targets other than a section is not specified.

clarified that "target" is the reference target and can be any anchor
"section" lets you specify a section in an external reference, e.g. section 12 of RFC 1234